# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build Output Directory
source/master/build
source/remote/build

hardware/GB-Drone*/__Previews*
hardware/GB-Drone*/History
hardware/GB-Drone*/Project Logs*

hardware/GB-Drone_master/Project Outputs for GB-Drone_master/*
hardware/GB-Drone_master_aux/Project Outputs for GB-Drone_master_aux/*
