# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

pictures

# Build Output Directory
source/master/build
source/remote/build

hardware/GB-Drone*/__Previews*
hardware/GB-Drone*/History
hardware/GB-Drone*/Project Logs*

hardware/GB-Drone_master/Project Outputs for GB-Drone_master/*
hardware/GB-Drone_master_aux/Project Outputs for GB-Drone_master_aux/*
hardware/GB-Drone_master_aux/GB-Drone_master_aux.PrjPcbStructure
hardware/GB-Drone_master_remote/Project Logs for GB-Drone_master_aux/*
hardware/GB-Drone_master_remote/__Previews/*
*.zip

# components
source/master/managed_components
source/remote/managed_components

# for mklink files
source/master/components/error_handle
source/master/components/i2c_bus
source/master/components/log_sys
source/master/components/mpu_driver
source/master/components/spi_bus
source/master/components/Fusion
source/master/components/bmp280
source/master/components/lis3mdl
source/master/components/gb_timer
source/master/components/gpio_setting
source/master/components/nrf24
source/master/components/esc

source/remote/components/error_handle
source/remote/components/i2c_bus
source/remote/components/log_sys
source/remote/components/spi_bus
source/remote/components/gb_timer
source/remote/components/tft_driver
source/remote/components/file_system
source/remote/components/lvgl
source/remote/components/disp_driver
source/remote/components/gpio_setting
source/remote/components/lv_examples
source/remote/components/tinygl
source/remote/components/nrf24

# tools
tools/esp-idf-ftpServer/build
tools/esp-idf-ftpServer/managed_components
tools/esp-idf-ftpServer/dependencies.lock

source/utility/tinygl/assets
